/* centers card on page: */
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

/* centers all elements within the card: */
div.card > * {
    text-align: center;
}

/* above 460px the screen background-color is a blue white gradient: */
@media only screen and (min-width: 460px) {
    body {
      background-color: white;
    }

    #row1 {
        height: 5vh;
    }
    #row2 {
        background-image: linear-gradient(white,lightblue); 
        height: 30vh;
    }
    #row3 {
        background-image: linear-gradient(lightblue, darkblue);
        height: 65vh;
    }
}

/* up to 460px the screen background-color is white: */
@media only screen and (max-width: 460px) {
    body {
      background-color: white;
    }

    .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
    }

    div.card > * {
        text-align: center;
    }

}

/* center */
.center {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */    
    text-align: center;
}


.parent {
    position: relative;
    /* overflow: hidden; */
    /* optionally set height and width, it will depend on the rest of the styling used */
}

.child {
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;

}

/* .list-group-item {
    height: 10em;
} */

.list-group-item-img1 {
    height: 10rem;
}