#row1 {
    height: 5vh;
}
#row2 {
    background-image: linear-gradient(white,lightblue); 
    height: 30vh;
}
#row3 {
    background-image: linear-gradient(lightblue, darkblue);
    height: 65vh;
}
